@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
    padding: 0;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell,
        Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
    color: inherit;
    text-decoration: none;
}

* {
    box-sizing: border-box;
}

input:focus ~ .floating-label,
input:not(:placeholder-shown) ~ .floating-label,
textarea:focus ~ .floating-label,
textarea:not(:placeholder-shown) ~ .floating-label,
select:focus ~ .floating-label,
select:not([value=""]):valid ~ .floating-label {
    @apply transform;
    @apply scale-75;
    @apply -translate-y-3;
}
